.menu * {
  border-radius: 7px;
}

.menu {
  list-style-type: none;
  gap: calc((100% - (300% / 3.1)) / 2);
  /* 
    * (total container width - total width occupied by 3 cards) = remaining space
    * divide the above by 2 to get half of the remaining space, so as to occupy the remaining space with grid gap
  */

  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 6px;
  width: calc(
    100% / 3.1
  ); /* total container width divided by 3.1 so as to keep some space for grid gap to occupy */
  aspect-ratio: 16/9;
  background: var(--card-primary);
  box-shadow: 0 0 1px 2px var(--card-primary-dark);
  margin-bottom: 10px;
}

.image__placeholder {
  width: 100%;
  height: 100%;
  animation: animate-pulse 1s ease-in-out infinite 0s;
}

@media screen and (max-width: 768px) {
  .menu {
    gap: calc((100% - (200% / 2.1)));
    /* 
      * (total container width - total width occupied by 2 cards) = remaining space
      * divide the above by 1 so as to occupy the remaining space with grid gap
    */
  }

  .card {
    width: calc(
      100% / 2.1
    ); /* total container width divided by 2.1 so as to keep some space for grid gap to occupy */
  }
}

@media screen and (max-width: 650px) {
  .menu {
    gap: 12px;
  }

  .card {
    width: 100%;
  }
}

@keyframes animate-pulse {
  0% {
    background: #aaa;
  }
  50% {
    background: #ccc;
  }
  100% {
    background: #aaa;
  }
}

.card__image {
  width: 100%;
  aspect-ratio: 16/6;
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.card__image img {
  width: 100%;
  height: 200%;
  position: absolute;
  transform: translate(0%, -20%);
}

.card__header {
  margin-top: 4px;
  display: flex;
  gap: 2px;
  align-items: center;
}

.card__type {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0c0;
}

.card__type.NON {
  background: #d12;
}

.card__header__type {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__info {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: space-between;
  margin-bottom: 6px;
}

.card__info__price {
  opacity: 0.7;
  font-weight: 700;
}

.card__info__rate span {
  font-weight: 700;
}

.card__action__button {
  width: 100%;
  height: 2.75em;
}

.action__button__add {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  border: none;
  background: var(--btn-primary);
  font-size: 1.2em;
  color: #fff;
  box-shadow: 0 0 1px 2px var(--btn-primary-dark);
}

.action__button__add:hover {
  background: var(--btn-primary-dark);
}

.card__action__edit {
  display: flex;
  gap: 6px;
}

.action__edit__item {
  flex: 1;
  height: 100%;
  display: flex;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.action__edit__delete,
.action__edit__add {
  cursor: pointer;
}

/** Filter  */
.filter {
  width: 100%;
  height: 4em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.filter__label {
  font-weight: 700;
  font-size: 1.2em;
}

.filter__container {
  font-size: 0.8em;
}

.filter__name {
  margin-left: 1em;
}

.filter__name span {
  margin-left: 0.5em;
}

.filter__input {
  cursor: pointer;
}

.filter__input:checked {
  outline: red;
}
