@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  --btn-primary: #3336ff;
  --card-primary: #f9f9f9;
  --btn-primary-dark: #3336dd;
  --card-primary-dark: #f7f7f7;
}

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1368px;
}

.default__button {
  border: none;
  display: block;
  cursor: pointer;
  color: var(--btn-color);
  background: var(--btn-bg);
  font-family: "Poppins", sans-serif;
}
